<script src="/javascripts/codemirror-2.13/lib/codemirror.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/lib/codemirror.css">
<script src="/javascripts/codemirror-2.13/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/default.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/night.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/elegant.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/neat.css">

<style>
	.CodeMirror {
		background-color: #F0F0F0;
	}
</style>

<script type="text/javascript">

	var codeMirrorFunction = null;
	var codeMirrorStart = null;
	var codeMirrorLoop = null;
	var codeCurrentProgramName = "Un-named";
	var codeCurrentProgramId = 0;
	var codeCurrentProgramVersionNumber = 0;
	var codeCurrentProgramVersionCount = 0;

	$(document).ready( function() {
		$("#codeFunctionCodeDivDrag").mousedown( function(event) {
			$("body").mousemove( function(event) {
				var top = $("#codeFunctionCodeDiv").offset().top;
				$("#codeFunctionCodeDiv").css( "height", event.pageY - top );
				$("#codeFunctionEditor").css( "height", $("#codeFunctionCodeDiv").height() - $("#codeFunctionEditor").position().top );
				resize();
			});
			$("body").mouseup( function() {
				$(this).unbind( "mousemove" );
			});
		});
		
		$("#codeStartCodeDivDrag").mousedown( function(event) {
			$("body").mousemove( function(event) {
				var top = $("#codeStartCodeDiv").offset().top;
				$("#codeStartCodeDiv").css( "height", event.pageY - top );
				$("#codeStartEditor").css( "height", event.pageY - top - 30 );
				$(codeMirrorStart.getScrollerElement()).css( "height", event.pageY - top - 30 );
				resize();
			});
			$("body").mouseup( function() {
				$(this).unbind( "mousemove" );
			});
		});

		$("#codeLoopCodeDivDrag").mousedown( function(event) {
			var top = $("#codeLoopCodeDiv").offset().top;
			$("body").mousemove( function(event) {
				$("#codeLoopCodeDiv").css( "height", event.pageY - top );
				$("#codeLoopEditor").css( "height", event.pageY - top - 20 );
				$(codeMirrorLoop.getScrollerElement()).css( "height", event.pageY - top - 30 );
				resize();
			});
			$("body").mouseup( function() {
				$(this).unbind( "mousemove" );
			});
		});

		var codeMirrorOptions = {
			enterMode:"keep",
			tabMode:"shift",
			indentUnit:4,
			matchBrackets:true,
			mode:{name:"javascript"},
			lineNumbers:true,
			theme:"neat",
		}
		codeMirrorFunction = CodeMirror.fromTextArea( document.getElementById("codeFunctionEditor"), codeMirrorOptions );
		codeMirrorStart    = CodeMirror.fromTextArea( document.getElementById("codeStartEditor"   ), codeMirrorOptions );
		codeMirrorLoop     = CodeMirror.fromTextArea( document.getElementById("codeLoopEditor"    ), codeMirrorOptions );

		var startCode = getCookie( "startCode" );
		if( startCode )  {
			codeMirrorStart.setValue( startCode );
		}
		var loopCode = getCookie( "loopCode" );
		if( loopCode )  {
			codeMirrorLoop.setValue( loopCode );
		}
	});

	$(window).resize( codeResize );
	
	function codeTabSelected() {
		codeResize();
	}

	function codeResize() {
		// ARRANGE all the divs
		var pageW = $(window).width();
		var pageH = $(window).height();
		var mcTop = $("#codeMainDiv").offset().top;
		var h = pageH - mcTop - 25;
		
		$("#codeMainDiv").css( "position", "relative" );
		$("#codeMainDiv").css( "width", "100%" );
		$("#codeMainDiv").css( "height", h );
		
		var mainW = $("#codeMainDiv").width() - 20;  // 20 for the scroll bar
		var spacing = 5;
		var col2W = 350;
		var col1W = mainW - col2W - spacing;
		var col1L = 0;
		var col2L = col1L + col1W + spacing;

		$("#codeMainCol1").css( "position", "absolute" );
		$("#codeMainCol1").css( "width", col1W );
		$("#codeMainCol1").css( "height", h );
		$("#codeMainCol1").css( "left", col1L );
		
		$("#codeMainCol2").css( "position", "absolute" );
		$("#codeMainCol2").css( "width", col2W );
		$("#codeMainCol2").css( "height", h );
		$("#codeMainCol2").css( "left", col2L );

		$(".codeEditor").css( "width", col1W - 6 ); // Not sure what's up with this exta 6 pixels.  Only seems nec. under chrome
	}

	function codeLoad( symbol, versionNumber ) {
		if( typeof(versionNumber) == "undefined" ) {
			versionNumber = 0;
		}
		$.get( "/programs/load", { symbol:symbol, version_number:versionNumber }, function(data) {
			if( data.success ) {
				codeCurrentProgramIsNew = false;
				codeCurrentProgramName = data.name;
				codeCurrentProgramId = data.id;
				$("#codeCurrentProgramName").html( codeCurrentProgramName );
				codeMirrorStart.setValue( data.start_code ? data.start_code : "" );
				codeMirrorLoop.setValue( data.loop_code ? data.loop_code : "" );
				codeCurrentProgramVersionNumber = data.version_number;
				codeCurrentProgramVersionCount = data.version_count;
				$("#codeVersionNumber").html( (data.version_count-codeCurrentProgramVersionNumber) + " of " + data.version_count );
			}
			else {
				alert( data.error );
			}
		});
	}

	function codeLoadPreviousVersion() {
		codeLoad( codeCurrentProgramId, codeCurrentProgramVersionNumber+1 )
	}

	function codeLoadNextVersion() {
		codeLoad( codeCurrentProgramId, codeCurrentProgramVersionNumber-1 )
	}

	function codeLoadLatestVersion() {
		codeLoad( codeCurrentProgramId )
	}

	function codeNew() {
		// STOP the program
		// @TODO
		
		// CLEAR the editors
		codeMirrorFunction.setValue("");
		codeMirrorStart.setValue("");
		codeMirrorLoop.setValue("");
		codeCurrentProgramId = 0;
		codeCurrentProgramName = "Un-named";
		$("#codeCurrentProgramName").html( codeCurrentProgramName );
		codeCurrentProgramVersionNumber = 0;
		codeCurrentProgramVersionCount = 0;
		$("#codeVersionNumber").html( "" );
	}
		
	function codeSave() {
		if( codeCurrentProgramName == "Un-named" ) {
			codeSaveAs();
		}
		else {
			$.post(
				"/programs/save",
				{id:codeCurrentProgramId, name:codeCurrentProgramName, loop_code:codeMirrorLoop.getValue(), start_code:codeMirrorStart.getValue() },
				function(data) {
					if( data.success ) {
						codeCurrentProgramId = data.id;
						codeCurrentProgramName = data.name;
						$("#codeCurrentProgramName").html( codeCurrentProgramName );
						codeCurrentProgramVersionNumber = 0;
						codeCurrentProgramVersionCount = data.version_count;
						$("#codeVersionNumber").html( (data.version_count-codeCurrentProgramVersionNumber) + " of " + data.version_count );
					}
					else {
						alert( data.error );
						codeCurrentProgramName = "Un-named";
					}
				}
			);
		}
	}
	
	function codeSaveAs() {
		codeCurrentProgramId = 0;
		$("#codeSaveAsName").val( codeCurrentProgramName );
		$("#codeMainControls").css( "display", "none" );
		$("#codeSaveAsDialog").css( "display", "block" );
	}
	
	function codeSaveAsOk() {
		$("#codeMainControls").css( "display", "block" );
		$("#codeSaveAsDialog").css( "display", "none" );
		codeCurrentProgramName = $("#codeSaveAsName").val();
		codeSave();
	}
	
	function codeSaveAsCancel() {
		$("#codeMainControls").css( "display", "block" );
		$("#codeSaveAsDialog").css( "display", "none" );
	}
	
	function codeLoginToSave() {
		setCookie( "startCode", codeMirrorStart.getValue() );
		setCookie( "loopCode", codeMirrorLoop.getValue() );
		document.location = "/login";
	}
	
	
</script>

<div id="codeControlPanel" class="controlPanel">
	<div id="codeMainControls">
		Current program: <span id="codeCurrentProgramName" style="font-weight:bold;">Un-named</span>

		<button onclick="codeNew()">
			New
		</button>
		
		<% if User.current_user %>

			<button onclick="codeSave()">
				Save
			</button>
			
			<button onclick="codeSaveAs()">
				Save As...
			</button>
			
			Version <span id="codeVersionNumber" style="font-weight:bold;"></span>:

			<button onclick="codeLoadPreviousVersion()">
				Previous
			</button>

			<button onclick="codeLoadNextVersion()">
				Next
			</button>

			<button onclick="codeLoadLatestVersion()">
				Latest
			</button>
		<% else %>
		
			<a id="codeLoginToSaveLink" onclick="codeLoginToSave()">Login to save</a>
		
		<% end %>
		
		<span style="float:right;">
			<button onclick="codeVersionLatest()">
				Pause
			</button>

			<span id="codePauseWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Paused</span>
			<span id="codeInfiniteLoopWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Unresponsive (<a onclick="loadPage('unresponsive')">help</a>)</span>
			<span id="codeFps" style="width:20px;"></span>
			<span id="codeFpsWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Frame rate low, try <a href="http://www.google.com/chrome">Chrome</a></span>
			<span>Frame rate: </span>
		</span>
		
		<% if false %>
			<div id="codeDebugDiv">
				<div class="areaLabel toggleableDiv">
					<span class="expandIcon">+</span> Debug<span class="regularFont"> (trace from debug function)</span>
				</div>
				<div class="thinBorder grayBackground toggleableDivContents" id="debugStream" style="display:none; white-space:nowrap; overflow:auto; width:100%; height:150px;">
				</div>
			</div>

			<div>
				<div class="areaLabel toggleableDiv">
					<span class="expandIcon">+</span> Comments<span class="regularFont" id="programCommentsCount"></span>
					<% if ! @user %>
						<span class="regularFont">Login to post</span>
					<% end %>
				</div>
				<div class="toggleableDivContents" id="programComments" style="display:none;">
				</div>
			</div>
		<% end %>
	</div>

	<div id="codeSaveAsDialog" style="display:none;">
		<span class="areaLabel">Save as:</span>
		<input id="codeSaveAsName" type="text" style="width:150px;">
		<button onclick="codeSaveAsOk()">
			Save
		</button>
		<button onclick="codeSaveAsCancel()">
			Cancel
		</button>
	</div>
	
</div>

<div id="codeErrors">
</div>

<div id="codeMainDiv" cellpadding="0" cellspacing="5" style="width:100%; overflow-x:hidden; overflow-y:scroll;">

	<div id="codeMainCol1" style="vertical-align:top;">
			
		<div id="codeFunctionCodeDiv" style="display:none;">
			<div>
				<span id="codeMasterErrorState" class="areaLabel" style="background-color:red; color:white;">
				</span>
			</div>
			<div id="codeFunctionCodeErrorState">
				<span class="areaLabel">
					Function
				</span>
				<button onclick="saveFunction()">Done</button>
				<button onclick="cancelFunction()">Cancel</button>
				<span class="areaLabel">
					Version:
				</span>
				<button onclick="changeVersionFunction('prev')">Previous</button>
				<button onclick="changeVersionFunction('next')">Next</button>
				<button onclick="changeVersionFunction('curr')">Latest</button>
				<div id="functionVersionLabel"></div>
			</div>
			<textarea id="codeFunctionEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:100px;"></textarea>
		</div>

		<div id="codeFunctionCodeDivDrag" class="dragBar" style="text-align:center; display:none; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>

		<div id="codeStartCodeDiv">
			<span class="areaLabel">Start code</span>&nbsp;<span>(Write code here that runs once)</span>
			<span id="startCodeErrorState" class="areaLabel" style="background-color:red; color:white;"></span>
			<textarea id="codeStartEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:100px;"></textarea>
		</div>

		<div id="codeStartCodeDivDrag" class="dragBar" style="text-align:center; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>

		<div id="codeLoopCodeDiv">
			<span class="areaLabel">Loop code</span>&nbsp;<span>(Write code here that runs over and over)</span>
			<span id="codeLoopCodeErrorState" class="areaLabel" style="background-color:red; color:white;"></span>
			<textarea id="codeLoopEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:300px;"></textarea>
		</div>

		<div id="codeLoopCodeDivDrag" class="dragBar" style="text-align:center; display:block; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>


	</div>

	<div id="codeMainCol2" style="vertical-align:top; height:350px;">
		<div>
			<span class="areaLabel">Canvas</span>
		</div>

		<div style="position:relative; height:350px; width:350px;">
			<canvas id="codeMainCanvas0" class="thinBorder" style="background-color:white; width:350px; height:350px; position:absolute; left:0; top:0;">
			</canvas>
			<canvas id="codeMainCanvas1" class="thinBorder" style="background-color:white; width:350px; height:350px; position:absolute; left:0; top:0;">
			</canvas>
		</div>

		<div id="codeTwiddlersArea" style="padding-top:5px;">
			<div class="areaLabel">
				Twiddlers 
			</div>
			<div class="thinBorder grayBackground">
				<div id="codeCreateATwiddlerNote" style="padding:5px 5px 5px 5px;">
					Create a twiddler by starting a variable name with underscore
				</div>
				<table id="codeTwiddlers">
				</table>
			</div>
		</div>

	</div>

</div>
