<script src="/javascripts/codemirror-2.13/lib/codemirror.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/lib/codemirror.css">
<script src="/javascripts/codemirror-2.13/mode/python/python.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/default.css">

<script type="text/javascript">
</script>


<div id="graphShow">
</div>

<div id="programsLoadMenu">
</div>

<div id="codeControlPanel" class="controlPanel">
</div>

<div id="codeErrors">
</div>

<div id="codeMain">
</div>
