<script src="/javascripts/codemirror-2.13/lib/codemirror.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/lib/codemirror.css">
<script src="/javascripts/codemirror-2.13/mode/javascript/javascript.js"></script>
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/default.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/night.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/elegant.css">
<link rel="stylesheet" href="/javascripts/codemirror-2.13/theme/neat.css">

<script src="/javascripts/sylvester.js"></script>
<script src="/javascripts/jquery.hive.js"></script>
<script src="/javascripts/hfc_runner/hfc_runner.js"></script>
<script src="/javascripts/hfc_code_panel.js"></script>

<style>
	.CodeMirror {
		background-color: #F0F0F0;
	}
</style>


<div id="codeControlPanel" class="controlPanel">
	<div id="codeMainControls">
		Current program: <span id="codeCurrentProgramName" style="font-weight:bold;">Un-named</span>

		<button onclick="codeNew()">
			New
		</button>
		
		<% if User.current_user %>

			<button onclick="codeSave()">
				Save
			</button>
			
			<button onclick="codeSaveAs()">
				Save As...
			</button>
			
			Version <span id="codeVersionNumber" style="font-weight:bold;"></span>:

			<button onclick="codeLoadPreviousVersion()">
				Previous
			</button>

			<button onclick="codeLoadNextVersion()">
				Next
			</button>

			<button onclick="codeLoadLatestVersion()">
				Latest
			</button>
		<% else %>
		
			<a id="codeLoginToSaveLink" onclick="codeLoginToSave()">Login to save</a>
		
		<% end %>
		
		<span style="float:right;">
			<button onclick="codeVersionLatest()">
				Pause
			</button>

			<span id="codePauseWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Paused</span>
			<span id="codeInfiniteLoopWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Unresponsive (<a onclick="loadPage('unresponsive')">help</a>)</span>
			<span id="codeFps" style="width:20px;"></span>
			<span id="codeFpsWarning" style="font-weight:bold; display:none; background-color:yellow; color:black;">Frame rate low, try <a href="http://www.google.com/chrome">Chrome</a></span>
			<span>Frame rate: </span>
		</span>
		
		<% if false %>
			<div id="codeDebugDiv">
				<div class="areaLabel toggleableDiv">
					<span class="expandIcon">+</span> Debug<span class="regularFont"> (trace from debug function)</span>
				</div>
				<div class="thinBorder grayBackground toggleableDivContents" id="debugStream" style="display:none; white-space:nowrap; overflow:auto; width:100%; height:150px;">
				</div>
			</div>

			<div>
				<div class="areaLabel toggleableDiv">
					<span class="expandIcon">+</span> Comments<span class="regularFont" id="programCommentsCount"></span>
					<% if ! @user %>
						<span class="regularFont">Login to post</span>
					<% end %>
				</div>
				<div class="toggleableDivContents" id="programComments" style="display:none;">
				</div>
			</div>
		<% end %>
	</div>

	<div id="codeSaveAsDialog" style="display:none;">
		<span class="areaLabel">Save as:</span>
		<input id="codeSaveAsName" type="text" style="width:150px;">
		<button onclick="codeSaveAsOk()">
			Save
		</button>
		<button onclick="codeSaveAsCancel()">
			Cancel
		</button>
	</div>
	
</div>

<div id="codeErrors">
</div>

<div id="codeMainDiv" cellpadding="0" cellspacing="5" style="width:100%; overflow-x:hidden; overflow-y:scroll;">

	<div id="codeMainCol1" style="vertical-align:top;">
			
		<div id="codeFunctionCodeDiv" style="display:none;">
			<div>
				<span id="codeMasterErrorState" class="areaLabel" style="background-color:red; color:white;">
				</span>
			</div>
			<div id="codeFunctionCodeErrorState">
				<span class="areaLabel">
					Function
				</span>
				<button onclick="saveFunction()">Done</button>
				<button onclick="cancelFunction()">Cancel</button>
				<span class="areaLabel">
					Version:
				</span>
				<button onclick="changeVersionFunction('prev')">Previous</button>
				<button onclick="changeVersionFunction('next')">Next</button>
				<button onclick="changeVersionFunction('curr')">Latest</button>
				<div id="functionVersionLabel"></div>
			</div>
			<textarea id="codeFunctionEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:100px;"></textarea>
		</div>

		<div id="codeFunctionCodeDivDrag" class="dragBar" style="text-align:center; display:none; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>

		<div id="codeStartCodeDiv">
			<span class="areaLabel">Start code</span>&nbsp;<span>(Write code here that runs once)</span>
			<span id="startCodeErrorState" class="areaLabel" style="background-color:red; color:white;"></span>
			<textarea id="codeStartEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:100px;"></textarea>
		</div>

		<div id="codeStartCodeDivDrag" class="dragBar" style="text-align:center; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>

		<div id="codeLoopCodeDiv">
			<span class="areaLabel">Loop code</span>&nbsp;<span>(Write code here that runs over and over)</span>
			<span id="codeLoopCodeErrorState" class="areaLabel" style="background-color:red; color:white;"></span>
			<textarea id="codeLoopEditor" class="codeEditor thinBorder" wrap="off" style="white-space:nowrap; overflow:auto; height:300px;"></textarea>
		</div>

		<div id="codeLoopCodeDivDrag" class="dragBar" style="text-align:center; display:block; height:5px; width:100%; cursor:move;">
			<img src="/images/drag.png"/ style="position:relative; top:3px;">
		</div>


	</div>

	<div id="codeMainCol2" style="vertical-align:top; height:350px;">
		<div>
			<span class="areaLabel">Canvas</span>
		</div>

		<div style="position:relative; height:350px; width:350px;">
			<canvas id="codeMainCanvas0" class="thinBorder" style="background-color:white; width:350px; height:350px; position:absolute; left:0; top:0;">
			</canvas>
			<canvas id="codeMainCanvas1" class="thinBorder" style="background-color:white; width:350px; height:350px; position:absolute; left:0; top:0;">
			</canvas>
		</div>

		<div id="codeTwiddlersArea" style="padding-top:5px;">
			<div class="areaLabel">
				Twiddlers 
			</div>
			<div class="thinBorder grayBackground">
				<div id="codeCreateATwiddlerNote" style="padding:5px 5px 5px 5px;">
					Create a twiddler by starting a variable name with underscore
				</div>
				<table id="codeTwiddlers">
				</table>
			</div>
		</div>

	</div>

</div>
