<script type="text/javascript">
	function friendsTabSelected() {
		friendsLoad();
	}

	function friendsLoad() {
		$("#friendsList").load( "/friends/list", function() {
			commonSetupElements();
		});
	}

	function friendsAddByTextField() {
		$("#friendsErrors").html( "" );
		var name = $("#friendAddName").val();
		$.post( "/friends", {name:name}, function(data) {
			if( data.success ) {
				friendsLoad();
			}
			else {
				$("#friendsErrors").html( data.error );
			}
		});
	}

	function friendsDeleteById( id ) {
		$.ajax({
			url: "/friends/"+id,
			type: "DELETE",
			success: function(data) {
				if( data.success ) {
					friendsLoad();
				}
				else {
					alert( data.error );
				}
			},
			error: function() {
				alert( "delete failed" );
			}
			
		});
	}

	function friendsOpenModule( moduleId ) {
		mainTabsSelect( "codePanel" );
		codeLoadFileById( moduleId );
	}

</script>

<% if ! User.current_user %>
	<a href="/login">Login</a> to see friends
<% else %>
	<div class="controlPanel">
		<div id="friendsErrors">
		</div>
		<input type="text" id="friendAddName"/>
		<button onclick="friendsAddByTextField()">Add friend</button>
	</div>

	<div id="yourFriends" class="home_h1">
		Your friends
	</div>

	<div id="friendsList" style="margin-left:10px;"></div>
<% end %>
