<script type="text/javascript">
	function globalsTabSelected() {
		globalsLoad();
	}

	function globalsLoad() {
		$("#globals").load( "/globals/list.html", function() {
			commonSetupElements();
		});
	}

</script>

<div id="globals">
</div>

