<div id="homePanelTop">
	<table>
		<tr>
			<td style="vertical-align:top;">
				<img src=""/>
			</td>
			<td>
				<div class="welcome">
					Welcome!
				</div>
				<div class="welcome">
					Happy Fun Coding is your place to learn to program games in Javascript.
					<ul class="bullets">
						<li>
							No software to install.
						</li>
						<li>
							Programs live and run in the cloud.
						</li>
						<li>
							@TODO more
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>

<div id="homePanelBottom">
	<div class="home_h1">
		Featured
	</div>
	<div class="indent10">
		@TODO: Featured content
	</div>

	<div class="home_h1">
		Code Activity
	</div>
	<div class="indent10">
		A list of code activity sorted by code you're watching / your friends / others will go here
	</div>

	<div class="home_h1">
		Help Requests
	</div>
	<div class="indent10">
		A list of help requests sorted by code you're watching / your friends / others will go here
	</div>

	<div class="home_h1">
		Forum Postings
	</div>
	<div class="indent10">
		A list of recent forum activity by you're watching / your friends / others will go here
	</div>
</div>
