<script type="text/javascript">
	function homeTabSelected() {
		$("#homePageIframeContainer").html( "<iframe id='homePageIframe' src='/embed/28' style='width:380px; height:380px; border:none;'></iframe>" );
	}

	function homeTabUnselected() {
		$("#homePageIframe").remove();
	}
</script>

<div id="homePanelTop">
	<table>
		<tr>
			<td id="homePageIframeContainer" style="vertical-align:top;">
			</td>
			<td style="vertical-align:top; padding-left:10px;">
				<div class="welcome">
					Welcome to Happy Fun Coding!
				</div>
				<div class="welcome">
					... a site to learn to program games in Javascript.
					<ul class="bullets">
						<li>
							No software to install.
						</li>
						<li>
							Lots of video tutorals.
						</li>
						<li>
							Community programming -- easy to learn from and help others.
						</li>
						<li>
							Embed your creations on your own web pages.
						</li>
					</ul>
				</div>

				<div id="homePanelBottom">

					<div class="home_h1">
						NEW VERSION 2.0 as of 23 Sep 2011!
					</div>
					<div class="indent10" style="color:red; font-size:16px;">
						I have fully re-implemented HFC with a new interface, new server, etc.<br/>
						There's probably
						bugs to be found.  Please email them to me zack -AT- mine-control.com
						<br/>
						New Features:
						<ul>
							<li>All new organization to the UI</li>
							<li>Syntax highlighting!</li>
							<li>New size() function lets you change the size of the canvas</li>
							<li>Cut and paste URL to share programs</li>
						</ul>
					</div>

					<div class="home_h1">
						Featured
					</div>
					<div class="indent10" style="font-size:14px;">
						<a href="/run/28">Flinky</a> by zack<br/>
						<a href="/run/12">Red flashlight</a> by rcorell<br/>
						<a href="/run/8">Spinner</a> by kdemarest<br/>
						<a href="/run/7">Bouncing balls</a> by zack<br/>
						<a href="/run/19">Mandlebrot</a> by zack<br/>
						<a href="/run/22">Stars</a> by zack<br/>
						<a href="/run/29">Flinky 2</a> by zack<br/>
						<a href="/run/37">Orbits</a> by zack<br/>
						<a href="/run/18">1D Cellulat Automata</a> by dan<br/>
						<a href="/run/126">Swarm</a> by zack<br/>
						<a href="/run/133">Mouse effect</a> by jasonmgrigsby<br/>
					</div>

					<% if false %>
						<div class="home_h1">
							Code Activity
						</div>
						<div class="indent10">
							A list of code activity sorted by code you're watching / your friends / others will go here
						</div>

						<div class="home_h1">
							Help Requests
						</div>
						<div class="indent10">
							A list of help requests sorted by code you're watching / your friends / others will go here
						</div>

						<div class="home_h1">
							Forum Postings
						</div>
						<div class="indent10">
							A list of recent forum activity by you're watching / your friends / others will go here
						</div>
					<% end %>
				</div>

			</td>
		</tr>
	</table>
</div>

