
<div id="homePanelTop">
	<table>
		<tr>
			<td id="homePageIframeContainer" style="vertical-align:top;">
			</td>
			<td style="vertical-align:top; padding-left:10px;">
				<div class="welcome">
					Welcome to Happy Fun Coding!
				</div>
				<div class="welcome">
					This is a place to learn to program games in Javascript.
					<ul class="bullets">
						<li>
							No software to install.
						</li>
						<li>
							Lots of video tutorals.
						</li>
						<li>
							Community programming -- easy to learn from and help others.
						</li>
						<li>
							Embed your creations on your own web pages.
						</li>
					</ul>
				</div>

				<div id="homePanelBottom">

					<div class="home_h1">
						Featured
					</div>
					<div class="indent10">
						<a href="/run/28">Flinky</a> by zack<br/>
					</div>

					<% if false %>
						<div class="home_h1">
							Code Activity
						</div>
						<div class="indent10">
							A list of code activity sorted by code you're watching / your friends / others will go here
						</div>

						<div class="home_h1">
							Help Requests
						</div>
						<div class="indent10">
							A list of help requests sorted by code you're watching / your friends / others will go here
						</div>

						<div class="home_h1">
							Forum Postings
						</div>
						<div class="indent10">
							A list of recent forum activity by you're watching / your friends / others will go here
						</div>
					<% end %>
				</div>

			</td>
		</tr>
	</table>
</div>

