<script type="text/javascript">
	function programsTabSelected() {
		programsLoad();
	}

	function programsLoad() {
		$("#programsAndFriends").load( "/programs/programs_and_friends_panel.html", function() {
			commonSetupElements();
		});
	}

	function programsFriendAddByTextField() {
		$("#programFriendsErrors").html( "" );
		var name = $("#programFriendAddName").val();
		$.post( "/friends", {name:name}, function(data) {
			if( data.success ) {
				programsLoad();
			}
			else {
				$("#programFriendsErrors").html( data.error );
			}
		});
	}

	function programsFriendDeleteById( id ) {
		if( confirm( "Are you sure you want to un-friend this user?" ) ) {
			$.ajax({
				url: "/friends/"+id,
				type: "DELETE",
				success: function(data) {
					if( data.success ) {
						programsLoad();
					}
					else {
						alert( data.error );
					}
				},
				error: function() {
					alert( "delete failed" );
				}
				
			});
		}
	}

	function programsOpenById( programId ) {
		mainTabsSelect( "codePanel" );
		codeLoad( programId );
	}
	
	function programsDeleteById( programId ) {
		if( confirm( "Are you sure you want to delete this program?" ) ) {
			$.ajax({
				url: "/programs/"+programId,
				type: "DELETE",
				success: function(data) {
					if( data.success ) {
						programsLoad();
					}
					else {
						alert( data.error );
					}
				},
				error: function() {
					alert( "delete failed" );
				}
			});
		}
	}

</script>


<% if ! User.current_user %>
	<a href="/login">Login</a> to see your and your friends' programs
<% else %>
	<div id="programsControlPanel" class="controlPanel">
		<form action="javascript:programsFriendAddByTextField()">
			<input id="programFriendAddName" type="text" style="width:150px;"/>
			<button>
				Add friend
			</button>
		</form>
		<div id="programFriendsErrors" style="color:red;">
		</div>
	</div>

	<div id="programsAndFriends">
	</div>
<% end %>

