<div id="videoPanel">
	<div class="areaLabel">
		Video Tutorials
	</div>
	<div style="width:600px; margin:0 0 0 15px;">
		The following are video tutorials that follow our text tutorials.
		I'm posting these a few per week so come back as more are posted.
		I suggest switching youtube into "480p" mode by clicking on the bottom where it says "360p" and then going into full screen mode.
	</div>
	
	<table cellspacing="10">
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #1: Hello world
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/FWPJ7IFats4?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/FWPJ7IFats4?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #2: Variables and animation
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/nsUMYW2eELM?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nsUMYW2eELM?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #3: Function calls
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/bIUxWm5FCao?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/bIUxWm5FCao?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>					
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #4: Twiddlers
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/OXbYQmwqFz4?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/OXbYQmwqFz4?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>					
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #5: If statements
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/vOB1Cjapyso?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/vOB1Cjapyso?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>				
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #6: While loops
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/vduOKyFWw_0?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/vduOKyFWw_0?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #7: Operators
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/JohRKTXsQZs?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JohRKTXsQZs?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #8: For loops
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/ffmBNx1geeo?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ffmBNx1geeo?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #9: Arrays
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/B8Hk9PO8gtU?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/B8Hk9PO8gtU?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #10: Array example
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/G1CLcVL0rho?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/G1CLcVL0rho?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>					
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #11: Manipulating Strings
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/rJvbsiBFztw?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/rJvbsiBFztw?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #12: Strokes and fills
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/GJ9qMZWkDlM?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GJ9qMZWkDlM?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>							
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
					Tutorial #13: An example putting it all together
				</div>				
				<div style="margin:10px 0 0 0;">
					<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/9UCmb8BmS7g?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/9UCmb8BmS7g?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
				</div>
			</td>
			<td>
				<div class="areaLabel" style="margin-top:20px;">
				</div>				
				<div style="margin:10px 0 0 0;">
				</div>
			</td>
		</tr>
	</table>
</div>


